@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-image: url("/Sign-up-Form/img/IMG_0760.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}